.btn {
  background: #ff8663;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
}

.btns-wrap {
  display: flex;
}

.btns-wrap--right {
  justify-content: flex-end;
}
