.popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  padding: 15px;
  width: 380px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  background: #f0f0f0;
  visibility: hidden;
  z-index: -10;
}
.title {
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  margin: 5px 0 10px;
}
.popup__heaer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff8663;
  padding: 10px 15px;
}
.popup__body {
  padding: 10px 15px;
}
.popup--visible {
  visibility: visible;
  z-index: 10;
}
.address {
  color: #fff;
  font-size: 12px;
}